body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-searching {
    max-width: available;
    padding: 15px;
    margin: 0 auto;
}

.form-searching .form-searching-heading {
    margin-bottom: 10px;
}

.form-searching .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-searching .form-control:focus {
    z-index: 2;
}
.form-searching input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.dropdown-menu-own {
    position:relative;
    top:100%;
    left:0;
    z-index:1000;
    float:left;
    min-width:160px;
    padding:5px 0;
    margin:2px 0 0;
    font-size:14px;
    text-align:left;
    list-style:none;
    background-color:#fff;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
    box-shadow:0 6px 12px rgba(0,0,0,.175)
}
