body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-searching {
    max-width: 630px;
    padding: 15px;
    margin: 0 auto;
}

.form-searching .form-searching-heading {
    margin-bottom: 10px;
}

.form-searching .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-searching .form-control:focus {
    z-index: 2;
}
.form-searching input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
