doctype html
head
    title Best DMD team ever project - index, main page
    body
        div
            h1 Welcome to our site. Search data in the box below to find publications
        dev
            input(type="text", name="search")
