doctype html
head
    title Best DMD team ever project - index, main page
    body
        div
            h1 Welcome to our site. Search data in the box below to find publications

        form#searchingForm(name="searchingForm", action="/search", method="post")
            input#searchFor(name="searchFor", type="text", placeholder="Search here...")
            input(type="submit", value="Search")
