doctype html
html(lang="en")
head
    title Best team ever DMD Project - login

    link(href="/bootstrap.min.css", rel="stylesheet")
    link(href="/signin.css", rel="stylesheet")
body
    .container
        form#loginForm.form-signin(action="/authorize", method="post")
            h2.form-signin-heading Please sign in
            label(for="inputLogin", class="sr-only") Login
            input#inputLogin.form-control(type="text", placeholder="login", required, autofocus)
            label.sr-only(for="inputPassword") Password
            input#inputPassword.form-control(type="password", placeholder="Password", required)
            .checkbox
                label
                input(type="checkbox", value="remember-me") Remember me

            button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
