doctype html
html(lang="en")
head
    title Login

    link(href="/bootstrap.min.css", rel="stylesheet")
    link(href="/signin.css", rel="stylesheet")
body
    .container
        form#loginForm.form-signin(action="/login", method="post", name="login")
            h1.form-signin-heading Please sign in
            input#inputLogin.form-control(name="username", type="text", placeholder="Username", required, autofocus, onchange="document.register.username.value = this.value;")
            input#inputPassword.form-control(name="password", type="password", placeholder="Password", required, onchange="document.register.password.value = this.value;")

            button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
        form#loginForm.form-signin(action="/register", method="post", name="register")
            input(name="username", type="hidden")
            input(name="password", type="hidden")
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Register
