doctype html
head
    title Best DMD team ever project - index, search results
    body
        ol#articles
            for art in articles
                li #{art.pubID}; #{art.journalID}; #{art.pages}
